{% extends "base.html" %}
{% block title %}全部隧道 - frp-nest-panel{% endblock %}
{% block content %}
<h1>全部隧道</h1>
<table>
  <thead><tr><th>用户 ID</th><th>名称</th><th>协议</th><th>本地</th><th>远程端口</th><th>创建时间</th></tr></thead>
  <tbody>
  {% for tunnel in tunnels %}
    <tr>
      <td><code>{{ tunnel.user_id }}</code></td>
      <td>{{ tunnel.name }}</td>
      <td>{{ tunnel.protocol }}</td>
      <td>{{ tunnel.local_host }}:{{ tunnel.local_port }}</td>
      <td>{{ tunnel.remote_port }}</td>
      <td>{{ tunnel.created_at }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
